{% extends 'applications/base.html' %}






	{% block content %}


<!--<form method="post" class="uniForm">-->
<!--    {{ my_formset}}-->
<!--    -->
<!--</form>-->

	<!--User-->
	<br><br>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
			    	<h4 class="card-title font-weight-bold text-center">Hello, {{ user.email }}<br></h4>
			      	<hr>
			    	<div class="card-text">
			    		<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
			    		<p>{{ user.username }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">Name:</p>
				  		<p>{{ user.name }} {{ user.last_name }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
				  		<p>{{ user.email }} </p>
						<p class="text-muted mb-0" style="font-size: 12px">birthday:</p>
			    		<p>{{ user.birthday }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">gender:</p>
				  		<p>{{ user.gender }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">phone:</p>
				  		<p>{{ user.phone }} </p>
                        <p><img src="{{ user.get_image_url }}" alt=""></p>
						<a href="{% url 'edit_profile' request.user.pk %}">Edit</a>
			        </div>
		    	</div>
		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">

		    	...
		    </div>
		</div>
	</div>


		<br><br>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	...
		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
		    	<div class="row">
		    		<div class="col-6 my-auto">
		    			<h2 class="font-weight-bold pt-4">Card</h2>
		    		</div>
		    	</div>
		      	<br>
		      	<div class="row">
			      	{% for card in user.orders.all %}
				    	<div class="col-sm-12 col-md-6 col-lg-4 pb-4">
			                <div class="h-100">
			                	<div class="card-body">
			                  		<h5 class="card-title">{{ card.id }}</h5>
			                    	<p class="card-text text-muted" style="font-size:12px">{{ card.card }}</p>
									<p class="card-text text-muted" style="font-size:12px">{{ card.date_created }}</p>
									<p class="card-text text-muted" style="font-size:12px">{{ card.status }}</p>
			                    	<a href="{{ p.affiliate_url }}" class="btn btn-warning">Buy now</a>
			                	</div>
			              	</div>
			            </div>
			    	{% endfor %}
		        </div>
		    </div>
		</div>
	</div>

	{% endblock %}