{% extends 'applications/base.html' %}






	{% block content %}


<!--<form method="post" class="uniForm">-->
<!--    {{ my_formset}}-->
<!--    -->
<!--</form>-->

	<!--User-->
	<br><br>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
			    	<h4 class="card-title font-weight-bold text-center">Hello, {{ user.email }}<br></h4>
			      	<hr>
			    	<div class="card-text">
			    		<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
			    		<p>{{ user.username }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">Name:</p>
				  		<p>{{ user.name }} {{ user.last_name }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
				  		<p>{{ user.email }} </p>
                        <p><img src="{{ user.get_image_url }}" alt=""></p>
						<a href="{% url 'edit_profile' request.user.pk %}">Edit</a>
			        </div>
		    	</div>
		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">

		    	...
		    </div>
		</div>
	</div>

	{% endblock %}