{% extends 'applications/base.html' %}
{% load static %}
{% block content %}

    <section class="breadcrumb-area set-bg" data-setbg="{% static 'img/classes/classes-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-content">
                        <h2>Classes</h2>
                        <div class="links">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="{% url 'clubs' %}" class="rt-breadcrumb">Clubs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="classes-section">
        <div class="container">
            <div class="row">
                {% for club in club_types %}
                <div class="col-md-4 col-sm-6">
                    <div class="single-classes">
                        <div class="classes-img">
                            <a href="{% url 'club-detail' club.slug %}"><img src="{{ club.image.url }}" alt=""></a>
                        </div>
                        <div class="classes-text">
                            <h5>{{ club.type }}</h5>
                            <a href="{% url 'club-detail' club.slug %}"><h6>{{ club.name }}</h6></a>
                            <p>(for {{ club.gender_segregation }})</p>
                            <p>{{ club.address }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

        </div>
    </section>

    <section class="classes-callto-section set-bg" data-setbg="img/classes/classes-callto-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="classes-callto-text">
                        <span>Join our gym now!</span>
                        <h2>25% Discount</h2>
                        <p>Arcu a tellus pellentesque ultrices. Ut euismod luctus elit id eleifend. Donec semper massa a
                            imperdiet mattis. </p>
                        <a href="#" class="primary-btn">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}