{% extends 'applications/base.html' %}
{% load static %}
{%  block content %}
{% load static i18n %}



    <section class="hero-slider">
        <!-- <div class="slide-items owl-carousel">
            <div class="single-slide set-bg active" data-setbg="{% static 'img/bg.jpg' %}">
                             <h1>{% trans 'Be Fit.Top Gym' %}</h1>
            </div>
            <div class="single-slide set-bg" data-setbg="{% static 'img/bg-2.jpg' %}">
                             <h1>{% trans 'Be Fit.Best Pools' %}</h1>
                
            </div>
            <div class="single-slide set-bg" data-setbg="{% static 'img/bg-3.jpg' %}">
                

                <h1>{% trans 'Be Fit.Awesome Yoga' %}</h1>
                
            </div>
        </div> -->
        <video autoplay muted loop id="bg-video" autoplay>
            <source
              src="{% static 'video1.mp4' %}"
              type="video/mp4"
            />
        </video>
    </section>
    <!-- Hero Slider End -->
    <!-- Features Section Begin -->
    <section class="features-section spad">
           
                <div class="container">
                    <h2 class="section-title">Category</h2>
                    
                    <div class="features-item">
                        {% for club_category in club_categories %}<div class="single-features">
                            
                            <div class="features-img">
                                <a href="{% url 'clubs-category' club_category.slug %}"><img src="{{ club_category.logo.url|default_if_none:'#' }}" alt=""></a>
                            </div>
                            <div class="feature-text">
                                <div class="feature-icon">
                                    <a href="{% url 'clubs-category' club_category.slug  %}"></a>
                                </div>
                                <a href="{% url 'clubs-category' club_category.slug %}"><h5>{{club_category.title}}</h5></a>
                            </div>
                            
                        </div>{% endfor %}
                    </div> 
                </div>
            
        </div>
    </section>
    <!-- Features Section End -->
    
    <!-- Footer Section Begin -->
   {% endblock %}