{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- Top Social End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-area set-bg" data-setbg="{% static 'img/blog/blog-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-content">
                        <h2>Blog</h2>
                        <div class="links">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="./blog.html" class="rt-breadcrumb">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Breadcrumb Section End -->
    <!-- Blog Section Begin -->
        {% for post in posts %}
<!--        <section class="blog spad-2">-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-blog-item">
                            <div class="blog-img set-bg" data-setbg="{{ post.image.url }}">
                                <div class="blog-time">
                                    <h2><span>{{ post.created_date | date }}</span></h2>
                                </div>
                            </div>
                            <div class="blog-text">
                                <h2>{{ post.sub_title }}</h2>
                                <ul>
                                    <li>{{ post.title }}</li>
                                </ul>
                                <p>{{ post.content }}</p>
                                <div class="posted-by">

                                    <div class="posted-by-name">
                                        <span>{{ post.content }}</span>
                                    </div>
                                </div>
                                <a href="{% url 'blog-detail' post.sub_title %}" class="primary-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                <div class="col-lg-12"></div>
<!--                </div>-->
<!---->
        </div>
    </section>
<!--     Blog Section End-->
<!--     Footer Section Begin-->

{% endblock %}
