{% extends 'base.html'%}
{% load static %}
{% block content %}
    <!-- Top Social End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-area set-bg" data-setbg="{% static 'img/blog/blog-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-content">
                        <h2>Blog</h2>
                        <div class="links">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="{% url 'clubs' %}" class="rt-breadcrumb">Clubs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
<!--     Breadcrumb Section End-->
<!-- Blog Section Begin -->
        <section class="blog spad-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-blog-item">
                            <div class="blog-img set-bg" data-setbg="{{ club.get_image_url }}">
                                <div class="blog-time">
                                    <h2><span>{{ club.name }}</span></h2>
                                    <img src="{{ club.get_image_url }}" alt="">
                                </div>
                            </div>
                            <div class="blog-text">
                                <h2>{{ club.type }}</h2>
                                <ul>
                                    <li>for ({{ club.gender_segregation }})</li>
                                </ul>
                                <p>{{ club.address }}</p>
                                <div class="posted-by">
                                    <div class="posted-by-img">
        <!--                                    <images src="{% static 'images/blog/posted.png' %}" alt="">-->
                                    </div>
                                    <div class="posted-by-name">
                                        <span>{{club.email }}</span>
                                        <p>{{ club.area }} m2</p>
                                        <p>{{ club.phone }}</p>
                                        <p>{{ club.email }}</p>
                                    </div>
                                </div>
                                {% for i in images %}
                                <img src="{{ i.images.url }}" alt="">
                            </div>
                        </div>
                    </div>
                             {% endfor %}
                <div class="col-lg-12"></div>
                </div>
<!---->
        </div>
    </section>
<!--     Blog Section End-->
<!--     Footer Section Begin-->
{% endblock %}
