{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Top Social End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-area set-bg" data-setbg="{% static 'img/classes/classes-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-content">
                        <h2>Classes</h2>
                        <div class="links">
                            <a href="{% url 'home' %}">Home</a>
                            <a href="{% url 'clubs' %}" class="rt-breadcrumb">Classes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Classes Section Begin -->
    <section class="classes-section">
        <div class="container">
            <div class="row">
                {% for club in clubs %}
                <div class="col-md-4 col-sm-6">
                    <div class="single-classes">
                        <div class="classes-img">
                            <img src="{{ club.image.url }}" alt="">
                        </div>
                        <div class="classes-text">
                            <h5>{{ club.type }}</h5>
                            <a href="{% url 'clubs' %}"><h6>{{ club.name }}</h6></a>
                            <p>(for {{ club.gender_segregation }})</p>
<!--                            <p>{{ club.area }}</p>-->
<!--                            <p>{{ club.phone }}</p>-->
<!--                            <p>{{ club.email }}</p>-->
                            <p>{{ club.address }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <div class="single-classes">-->
<!--                        <div class="classes-images">-->
<!--                            <images src="images/classes/classes-2.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="classes-text">-->
<!--                            <h5>Body Building</h5>-->
<!--                            <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis-->
<!--                                nulla pretium, vitae ornare leo.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <div class="single-classes">-->
<!--                        <div class="classes-images">-->
<!--                            <images src="images/classes/classes-3.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="classes-text">-->
<!--                            <h5>Fitness</h5>-->
<!--                            <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis-->
<!--                                nulla pretium, vitae ornare leo.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <div class="single-classes">-->
<!--                        <div class="classes-images">-->
<!--                            <images src="images/classes/classes-4.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="classes-text">-->
<!--                            <h5>Yoga</h5>-->
<!--                            <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis-->
<!--                                nulla pretium, vitae ornare leo.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <div class="single-classes">-->
<!--                        <div class="classes-images">-->
<!--                            <images src="images/classes/classes-5.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="classes-text">-->
<!--                            <h5>Trx</h5>-->
<!--                            <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis-->
<!--                                nulla pretium, vitae ornare leo.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <div class="single-classes">-->
<!--                        <div class="classes-images">-->
<!--                            <images src="images/classes/classes-6.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="classes-text">-->
<!--                            <h5>Spinning</h5>-->
<!--                            <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis-->
<!--                                nulla pretium, vitae ornare leo.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; Classes Section End &ndash;&gt;-->
<!--    &lt;!&ndash; Fitness Plan Begin &ndash;&gt;-->
<!--    <section class="fitness-section inside-bg">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-5 col-md-6">-->
<!--                    <div class="single-fitness-feature">-->
<!--                        <div class="fitness-number">-->
<!--                            <span>01</span>-->
<!--                        </div>-->
<!--                        <div class="fitness-text">-->
<!--                            <h4>Get fitted</h4>-->
<!--                            <p>Arcu a tellus pellentesque ultrices. Ut euismod luctus elit id eleifend. Donec semper-->
<!--                                massa a imperdiet mattis. </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-fitness-feature">-->
<!--                        <div class="fitness-number">-->
<!--                            <span>02</span>-->
<!--                        </div>-->
<!--                        <div class="fitness-text">-->
<!--                            <h4>Try Pilates</h4>-->
<!--                            <p>Ut euismod luctus elit id eleifend. Donec semper massa a imperdiet mattis. In vel mattis-->
<!--                                neque, nec ultricies lectus. </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-fitness-feature">-->
<!--                        <div class="fitness-number">-->
<!--                            <span>03</span>-->
<!--                        </div>-->
<!--                        <div class="fitness-text">-->
<!--                            <h4>Healthy Diet</h4>-->
<!--                            <p>Arcu a tellus pellentesque ultrices. Ut euismod luctus elit id eleifend. Donec semper-->
<!--                                massa a imperdiet mattis. </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-5 col-md-6 offset-lg-2 text-md-right text-left">-->
<!--                    <div class="single-fitness-feature">-->
<!--                        <div class="fitness-number left-number">-->
<!--                            <span>04</span>-->
<!--                        </div>-->
<!--                        <div class="fitness-text left-text">-->
<!--                            <h4>Meditation</h4>-->
<!--                            <p>Arcu a tellus pellentesque ultrices. Ut euismod luctus elit id eleifend. Donec semper-->
<!--                                massa a imperdiet mattis. </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-fitness-feature">-->
<!--                        <div class="fitness-number left-number">-->
<!--                            <span>05</span>-->
<!--                        </div>-->
<!--                        <div class="fitness-text left-text">-->
<!--                            <h4>Diet Plan</h4>-->
<!--                            <p>Ut euismod luctus elit id eleifend. Donec semper massa a imperdiet mattis. In vel mattis-->
<!--                                neque, nec ultricies lectus. </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="single-fitness-feature">-->
<!--                        <div class="fitness-number left-number">-->
<!--                            <span>06</span>-->
<!--                        </div>-->
<!--                        <div class="fitness-text left-text">-->
<!--                            <h4>Grow Muscles</h4>-->
<!--                            <p>Arcu a tellus pellentesque ultrices. Ut euismod luctus elit id eleifend. Donec semper-->
<!--                                massa a imperdiet mattis. </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
    <!-- Fitness Plan End -->
    <!-- Classes Call To Action Section -->
    <section class="classes-callto-section set-bg" data-setbg="img/classes/classes-callto-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="classes-callto-text">
                        <span>Join our gym now!</span>
                        <h2>25% Discount</h2>
                        <p>Arcu a tellus pellentesque ultrices. Ut euismod luctus elit id eleifend. Donec semper massa a
                            imperdiet mattis. </p>
                        <a href="#" class="primary-btn">Join</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Classes Call To Action End -->
    <!-- Footer Section Begin -->
{% endblock %}